In [0]:
import numpy as np
import pandas as pd
from collections import Counter

In [0]:
class node(object):
  def _init_(self,f,t,left,right):
    self.f = f
    self.t = t
    self.left = left
    self.right = right

In [0]:
class leaf(object):
  def _init_(self,label):
    self.label = label

In [0]:
class dtree(object):
  
  def gini_imp(self,label):
    a = np.unique(label,return_counts=True)[1]/float(len(label))
    g = 1-np.sum(a**2)
    return g

  def split(self,x,y,a):
    gini = 100000
    f = 0
    t = 0
    for i in range(x.shape[1]):
      for j in range(len(a[i])):
        c = np.array(((x[:,i]>=a[i][j])).astype(int))
        p = np.sum(c)/len(c)
        b = self.gini_imp(y[np.where(c==1)])*p + self.gini_imp(y[np.where(c==0)])*(1-p)
        if b<gini : 
          gini = b
          f = i
          t = a[i][j]
    return f,t

  def build(self,x,y,a):
    f,t = self.split(x,y,a)
    z = np.array((x[:,f]>t).astype(int))
    y_left = y[np.where(z==0)]
    y_right = y[np.where(z==1)]
    p = len(y_right)/len(y) 
    ig = self.gini_imp(y) - p*self.gini_imp(y_right) - (1-p)*self.gini_imp(y_left)
    if ig==0 :
      n = leaf()
      n.label = Counter(y).most_common(1)[0][0]
      return n
    else:
      n = node()
      n.f = f
      n.t = t
      x_left = x[np.argwhere(z-1).flatten(),:]
      x_right = x[np.argwhere(z).flatten(),:]
      n.right = self.build(x_right,y_right,a)
      n.left = self.build(x_left,y_left,a)
      return n

  def train(self,x_train,y_train): 
    X = np.array(x_train)
    y = np.array(y_train)
    n = X.shape[1]
    m = X.shape[0]
    a = []
    for i in range(n):
      c = np.unique(X[:,i])
      a.append(c)
    self.tree = self.build(X,y,a)

  def accuracy(self,y_pred,y_true):                                             
      p = 0
      m = len(y_true)
      for a in range(m):                                                        
        if y_true[a]==y_pred[a]:                
          p+=1
      return (p*100)/m

  def predict(self,x):
      X = np.array(x)
      y_pred = np.zeros((X.shape[0],1))
      for i in range(X.shape[0]):
         a = self.tree
         while isinstance(a,leaf) != True:
           f = a.f
           t = a.t
           if X[i][f] >= t: a = a.right
           else : a = a.left
         y_pred[i] = a.label
      return y_pred

In [0]:
df = pd.read_csv('/content/sample_data/california_housing_train.csv')

In [10]:
df

       longitude  latitude  ...  median_income  median_house_value
0        -114.31     34.19  ...         1.4936             66900.0
1        -114.47     34.40  ...         1.8200             80100.0
2        -114.56     33.69  ...         1.6509             85700.0
3        -114.57     33.64  ...         3.1917             73400.0
4        -114.57     33.57  ...         1.9250             65500.0
...          ...       ...  ...            ...                 ...
16995    -124.26     40.58  ...         2.3571            111400.0
16996    -124.27     40.69  ...         2.5179             79000.0
16997    -124.30     41.84  ...         3.0313            103600.0
16998    -124.30     41.80  ...         1.9797             85800.0
16999    -124.35     40.54  ...         3.0147             94600.0

[17000 rows x 9 columns]

In [0]:
y = df['median_house_value']
X = df.drop('median_house_value',axis=1,inplace=False)

In [0]:
model = dtree()
model.train(X,y)

In [0]:
df1 = pd.read_csv('/content/sample_data/california_housing_test.csv')

In [15]:
df1

      longitude  latitude  ...  median_income  median_house_value
0       -122.05     37.37  ...         6.6085            344700.0
1       -118.30     34.26  ...         3.5990            176500.0
2       -117.81     33.78  ...         5.7934            270500.0
3       -118.36     33.82  ...         6.1359            330000.0
4       -119.67     36.33  ...         2.9375             81700.0
...         ...       ...  ...            ...                 ...
2995    -119.86     34.42  ...         1.1790            225000.0
2996    -118.14     34.06  ...         3.3906            237200.0
2997    -119.70     36.30  ...         2.2895             62000.0
2998    -117.12     34.10  ...         3.2708            162500.0
2999    -119.63     34.42  ...         8.5608            500001.0

[3000 rows x 9 columns]

In [0]:
y_test = df['median_house_value']
x_test = df.drop('median_house_value',axis=1,inplace=False)

In [0]:
y_pred = model.predict(x_test)

In [0]:
model.accuracy(y_test,y_pred)